body {
      font-family: 'Kotta One', serif;
      font-family: 'Cantarell', sans-serif;
}

#id-atf {
      /* layout */
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      /* background */
      background-color: darkgrey;
      background-image: url("background-photo.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      /* background-origin: border-box; */
      background-attachment: fixed;
}

#id-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

